.todo {
  width: 100%;
}

.todo__header {
  border: 2px solid blue;
  padding: 20px;
}

@media (max-width: 425px) {
  .todo__header {
    font-size: small;
  }
}

@media (min-width: 768px) {
  .todo {
    margin: 10px;
  }
}
